*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

#navbar-pinterest{
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 32px;
    position: fixed;
}


#pinterest-icon img{
    height: 100px;
    width: 100px;
    padding: 20px 20px 20px 20px;
    border: 0px;
    margin: 0px;
}

#pinterest-icon:hover{
    background-color: #e5e5e5;
    border-radius: 100%;
}

.inicio{
    padding: 30px 35px 0px 35px;
    border: 0px;
    margin: 0px;
    background-color: black;
    color: #fff;
    border-radius: 50px;
}

.hoy{
    padding-top: 30px;

}

.crear{
    padding-top: 30px;

}



input.finder{
    padding: 30px 1500px 24px 100px;
    outline-color: rgb(78, 181, 225);
    font-size: 32px;
    border-radius: 50px;
    color: rgb(119, 118, 118);
    border: 3px solid #e5e5e5;
    background: #e5e5e5 url(/Pinterest/imagenes/search-icon.png) left ;
    background-repeat: no-repeat;
    background-size: 50px 50px;
    background-position-x: 2%;
}

.menu-derecha img{
    height: 90px;
    padding: 25px 10px 10px 10px;
    border: 0%;
    margin: 0%;
    border-radius: 50%;
}

#profile-img{
    background-color: #e5e5e5;
}

#profile-img img{
    height: 100px;
    width: 100px;
    padding: 20px 20px 20px 20px;
    border: 0px;
    margin: 0px;
}

#content{
    padding: 20px;
    columns: 5 100px;
}
#content img{
    
    margin-block: 10px;
    min-height: 400px;
    max-height: 1000px;
    max-width: 100%;
}