*{
    font-family: 'Roboto', sans-serif;
    font-size:
}

header{
    font-size: 30px;
    display: flexbox;
    align-items: center;
}

body{
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.logo img{
    height: 80px;
}

.menu-buscador{
    
    position: absolute;
    top:50%
    left:50%
}

input.src{
    padding: 10px 1000px 10px 50px;
    outline:  none;
    font-size: 30px;
    border-radius: 50px;
    color: rgb(119, 118, 118);
    border: 3px solid #e5e5e5;
    background-color: #e5e5e5;
    width: 60px;
    transition: all .5s;
    

}

